# Домашнее задание 1 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [1]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [261]:
df = pd.DataFrame()
for i in range(10):
    students_info_i = pd.read_csv('Students_info_' + str(i) + '.csv')
    students_marks_i = pd.read_csv('Students_marks_' + str(i) + '.csv')
    # students_i = pd.concat([students_info_i, students_marks_i], axis=1, sort=False) не справилась с общим столбцом
    students_i = students_info_i.merge(students_marks_i)
    df = pd.concat([df, students_i], sort=False)
df.head()

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [262]:
df = df.drop(["index"], axis=1)
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [263]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [264]:
df.describe().loc[["min", "max", "mean", "std"]]

      math score  reading score  writing score
min      0.00000      17.000000      10.000000
max    100.00000     100.000000     100.000000
mean    66.08900      69.169000      68.054000
std     15.16308      14.600192      15.195657

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [265]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

значит, нет

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [266]:
df.loc[:, "math score"].mean()

66.089

In [267]:
df.loc[:, "reading score"].mean()

69.169

In [268]:
df.loc[:, "writing score"].mean()

68.054

In [ ]:
# или

In [269]:
df.mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [122]:
df[df["test preparation course"] == "completed"].mean()

math score       69.695531
reading score    73.893855
writing score    74.418994
dtype: float64

In [270]:
df[df["test preparation course"] == "none"].mean()

math score       64.077882
reading score    66.534268
writing score    64.504673
dtype: float64

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [271]:
set(df["lunch"])

{'free/reduced', 'standard'}

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [272]:
df = df.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"})

**Зафиксируем минимальный балл для сдачи экзамена**

In [273]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [274]:
len(df[df["math score"] >= passmark])/len(df)

0.865

In [275]:
len(df[(df["test preparation"] == "completed") & (df["math score"] >= passmark)])/len(df[df["test preparation"] == "completed"])

0.9217877094972067

In [276]:
len(df[(df["test preparation"] == "none") & (df["math score"] < passmark) & (df.gender == "female")])/len(df[(df["test preparation"] == "none") & (df.gender == "female")])

0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [277]:
import time
start_time = time.time()
print(df.groupby("race/ethnicity")["reading score"].mean())
print("--- %s seconds ---" % (time.time() - start_time))
res1_race = time.time() - start_time

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64
--- 0.0029926300048828125 seconds ---

In [278]:
start_time = time.time()
print(df.groupby("education")["writing score"].min())
print("--- %s seconds ---" % (time.time() - start_time))
res1_edu = time.time() - start_time

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64
--- 0.003989458084106445 seconds ---

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [279]:
start_time = time.time()
for race in set(df["race/ethnicity"]):
    print(race, df[df["race/ethnicity"] == race]["reading score"].mean())
print("--- %s seconds ---" % (time.time() - start_time))
res2_race = time.time() - start_time

group D 70.03053435114504
group E 73.02857142857142
group A 64.67415730337079
group B 67.35263157894737
group C 69.10344827586206
--- 0.006979465484619141 seconds ---

In [280]:
print("Циклы работают медленнее на", res2_race - res1_race, "секунд")

Циклы работают медленнее на 0.003986835479736328 секунд

In [281]:
start_time = time.time()
for edu in set(df["education"]):
    print(edu, df[df["education"] == edu]["writing score"].min())
print("--- %s seconds ---" % (time.time() - start_time))
res2_edu = time.time() - start_time

bachelor's degree 38
master's degree 46
high school 15
some high school 10
some college 19
associate's degree 35
--- 0.005983829498291016 seconds ---

In [283]:
print("Циклы работают медленнее на", res2_edu - res1_edu, "секунд")

Циклы работают медленнее на 0.0019943714141845703 секунд

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [284]:
grouped = pd.pivot_table(data=df, index=["gender", "education"])
grouped

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [288]:
df["Math_PassStatus"] = df["math score"].apply(lambda x: "F" if x < passmark else "P")
print("математику", df["Math_PassStatus"].value_counts()[0], "сдало,", df["Math_PassStatus"].value_counts()[1], "не сдало")

математику 865 сдало, 135 не сдало

In [289]:
df["Reading_PassStatus"] = df["reading score"].apply(lambda x: "F" if x < passmark else "P")
print("чтение", df["Reading_PassStatus"].value_counts()[0], "сдало,", df["Reading_PassStatus"].value_counts()[1], "не сдало")

чтение 910 сдало, 90 не сдало

In [290]:
df["Writing_PassStatus"] = df["writing score"].apply(lambda x: "F" if x < passmark else "P")
print("письмо", df["Writing_PassStatus"].value_counts()[0], "сдало,", df["Writing_PassStatus"].value_counts()[1], "не сдало")

письмо 886 сдало, 114 не сдало

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [319]:
overall = df.loc[:, ["Math_PassStatus", "Writing_PassStatus", "Reading_PassStatus"]]
# заменяю P/F на 1/0
for i in overall.columns:
    overall[i] = overall[i].apply(lambda x: 0 if x == "F" else 1)
df["OverAll_PassStatus"] = overall["Math_PassStatus"] * overall["Writing_PassStatus"] * overall["Reading_PassStatus"] # теперь тут 1 у тех, кто все сдал, и 0 у тех, кто не все сдал
print(df["OverAll_PassStatus"].sum(), "студентов сдали все экзамены")
df["OverAll_PassStatus"] = df["OverAll_PassStatus"].apply(lambda x: "F" if x == 0 else "P")

812 студентов сдали все экзамены

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [334]:
def GetGrade(average_mark):
    if (average_mark >= 90):
        return "A"
    elif (average_mark >= 80):
        return "B"
    elif (average_mark >= 70):
        return "C"
    elif (average_mark >= 60):
        return "D"
    elif (average_mark >= 50):
        return "E"
    else:
        return "F"

df["Grade"] = ((df["math score"] + df["writing score"] + df["reading score"])/3).apply(GetGrade)
df.Grade.value_counts()

C    261
D    256
E    182
B    146
F    103
A     52
Name: Grade, dtype: int64